* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
    opacity: 0.735;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

svg,
img {
    vertical-align: bottom; /* remove default image & svg alignment */
}

strong {
    text-decoration: underline;
}
