* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px; /* does not break layouts smaller than 320px */
}

h1,
h2,
h3,
p {
  margin: 0;
}

p,
li {
  opacity: 0.735;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

svg,
img {
  vertical-align: bottom; /* remove default image & svg alignment */
}

strong {
  font-weight: 900;
}

em {
  text-decoration: underline;
}
