.btn--nav {
  position: relative;
  padding-block: 3.5px;

  color: var(--primary-color);
  opacity: 0.8;

  transition: opacity 0.18s;
}

.btn--nav:focus,
.btn--nav:hover {
  opacity: 1;
}

.btn--link {
  position: relative;
  padding-block: 3.5px;

  color: var(--secondary-color);
}

.btn--nav::after,
.btn--link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  width: 100%;
  height: 3px;
  background-color: var(--highlight-color);
}

.btn--nav::after {
  scale: 0;

  transition: scale 0.28s;
}
.btn--link::after {
  scale: 0.35;
  transform-origin: left;

  transition: scale 0.18s;
}

.btn--nav:hover::after,
.btn--link:hover::after {
  scale: 1;
}

.btn--link:focus::after {
  scale: 0;
}

.btn--pdf {
  position: relative;

  color: inherit;
  box-shadow: 0 1px 3px #000;

  border-radius: 4px;
  padding: 10px 50px 10px 25px;

  opacity: 0.65;
  transition: opacity 0.18s;
}

.btn--pdf:hover,
.btn--pdf:focus {
  opacity: initial;
}

.btn--pdf svg {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 20px;
}
