.btn {
    display: inline-block; /* _defaults.css a {inline-block} later */
    text-decoration: none;
    cursor: pointer;
}

.btn--nav {
    color: var(--text-color);
    opacity: 0.735;

    padding-block: 4px;

    transition-property: opacity, scale;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.btn--nav:focus,
.btn--nav:hover {
    opacity: initial;
}

.btn--nav:hover {
    scale: 1.035;
}

.btn--pdf {
    background-image: url("../assets/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;

    color: #000;
    background-color: #747bff;
    border-radius: 4px;
    padding: 14px 48px 14px 24px;

    transition: scale 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.btn--pdf:hover {
    scale: 1.035;
}

.btn--link {
    color: var(--icon-color);
    padding: 5px 2.5px;
    border-bottom: 3px solid #535bf2;
    transition: scale 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.btn--link:hover {
    scale: 1.035;
}
