.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  width: min(100%, 63.75rem);
  padding: 32px var(--padding-inline);

  background-color: var(--bg-color-nav);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Safari support 9-17.6 */
}

.header__toggle-menu,
.header__toggle-theme {
  justify-self: end;
}

.header__menu-wrapper {
  position: absolute;
  top: 84px;
  right: var(--padding-inline);
}

@media screen and (max-width: 46.5rem) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
}
