.sr-only,
.sr-skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.sr-skip-link:focus {
  top: 18px;
  left: 1px;
  z-index: 2;
  height: auto;
  width: auto;
  clip: auto;
  outline: none;

  color: var(--secondary-color);
  background-color: var(--bg-color-secondary);
  border: 3px solid var(--highlight-color);

  padding: 18px 2px;
  border-radius: 0 8px 8px 0;
}
