.intro {
    max-width: 26rem;
}

.intro__top {
    margin-bottom: 32px;
}

.intro__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;
}

.intro__title {
    margin-bottom: 8px;
}

.intro__sub-title {
    margin-bottom: 24px;
}
