.layout {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  max-width: 75rem;
  padding-inline: 32px;
  margin-inline: auto;
}

.layout__header {
  box-sizing: border-box;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 64px;
}

.layout__header,
.layout__main {
  padding-block: 80px;
}

.layout__section {
  scroll-margin-top: 32px;
}

.layout__content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  margin-top: 32px;
}

@media (max-width: 48rem) {
  .layout {
    grid-template-columns: 1fr;
  }

  .layout__main {
    padding-top: 0;
  }
}
