.layout {
  max-width: 63.75rem;
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}

.layout__header {
  position: fixed;
  left: 50%;
  translate: -50%;
  z-index: 1;
}

.layout__section {
  scroll-margin-top: 100px;
}

.layout__section:not(:last-child) {
  margin-bottom: 95px;
}

.layout__title {
  margin-bottom: 32px;
}

.layout__content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
