.media {
  display: flex;
  column-gap: 16px;
}

.media__link {
  display: inline-block; /* _defaults.css a {inline-block} later */
  padding: 4px;
  opacity: 0.65;

  transition: opacity 0.18s;
}

.media__link:hover,
.media__link:focus {
  opacity: initial;
}
