.menu {
  display: contents;
}

.toggle-menu[aria-expanded="true"] + .menu {
  padding: 16px;
  border-radius: 8px;

  background-color: var(--bg-color-secondary);
}

@media screen and (max-width: 46.5rem) {
  .menu {
    display: none;
  }

  .menu__toggle-theme {
    margin-top: 24px;
  }

  .toggle-menu[aria-expanded="true"] + .menu {
    display: initial;
  }
}
