.nav {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

@media screen and (min-width: 46.5rem) {
  .nav {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
  }
}
