.projects .project:not(:last-child) {
    margin-bottom: 32px;
}

.project {
    display: flex;
    column-gap: 32px;

    background-color: var(--bg-color-secondary);
    padding: 32px 16px;
    border-radius: 8px;

    overflow: hidden;
}

.project__description {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.project__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__tags {
    display: flex;
    column-gap: 10px;

    padding-left: 25px;
}

.project__tags li {
    background-color: var(--bg-color);

    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px #000;

    white-space: nowrap;
}

.project a {
    width: max-content;
}

.project img {
    height: max-content;
    box-shadow: 0 1px 3px #000;
}
