#theme-icon {
  background-image: url('/assets/sun.svg');
  width: 24px;
  height: 24px;

  transform: translateX(0);

  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.light-theme #theme-icon {
  background-image: url('/assets/moon.svg');

  transform: translateX(32px);
}
