.toggle-theme {
  display: flex;
  align-items: center;
  padding: 0 4px;

  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5px;

  border-radius: 16px;
  background-color: var(--bg-color-secondary);
  border: 1px solid transparent;

  width: 64px;
  height: 32px;

  transition: border-color 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.toggle-theme:hover {
  border-color: #535bf2;
}

.light-theme .toggle-theme {
  background-color: #e0e1dd;
}

.toggle-theme__icon {
  background-image: url('/assets/sun.svg');
  width: 24px;
  height: 24px;

  transform: translateX(0);

  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.light-theme .toggle-theme__icon {
  background-image: url('/assets/moon.svg');

  transform: translateX(32px);
}
