.toggle-theme {
  display: flex;
  align-items: center;

  cursor: pointer;

  width: 64px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 16px;

  background-color: var(--bg-color-secondary);

  transition: border-color 0.18s;
}

.toggle-theme:hover {
  border-color: var(--highlight-color);
}

.toggle-theme__icon {
  background-image: url("/assets/sun.svg");
  width: 24px;
  height: 24px;

  translate: 8px;

  transition: translate 0.28s;
}

.light-theme .toggle-theme__icon {
  background-image: url("/assets/moon.svg");

  translate: 32px;
}
