.toggle-theme {
    display: flex;
    align-items: center;

    cursor: pointer;

    border-radius: 16px;
    background-color: var(--bg-color-secondary);
    border: 1.5px solid transparent;

    width: 64px;
    height: 32px;

    transition: border-color 0.18s;
}

.toggle-theme:hover {
    border-color: #535bf2;
}

.toggle-theme__icon {
    background-image: url("/assets/sun.svg");
    width: 24px;
    height: 24px;

    translate: 8px;

    transition: translate 0.28s cubic-bezier(0, 0, 0.2, 1);
}

.light-theme .toggle-theme__icon {
    background-image: url("/assets/moon.svg");

    translate: 32px;
}
