/* Titles */
.title--lg {
  font-size: clamp(2.15rem, 10vw, 3.5rem);
  font-weight: 600;
  line-height: 1.1;
}

.title--md {
  font-size: 1.2rem;
  font-weight: 600;
}

.title--sm {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title--xs {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 3px;
}

/* Texts */
.text--md {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.25;
}

.text--xs {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
